/* Overall layout styles */
.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: var(--tennessee-orange);
	color: white;
	text-align: center;
	padding: 1rem;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav li {
	margin: 0 1rem;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

main {
	flex: 1;
	padding: 2rem;
	background-color: var(--background);
}

footer {
	background-color: var(--tennessee-orange);
	color: white;
	text-align: center;
	padding: 1rem;
}

.menu-button {
	display: block;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	border: none;
	margin-left: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../../../public/default_profile_picture.jpg');
	cursor: pointer;
}

.button {
	background-color: var(--background);
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: var(--tennessee-orange);
	cursor: pointer;
	height: 20px;
	/* line-height: 10px; */
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button:hover,
.button:focus {
	background-color: #F082AC;
}